[Unit]
Description=Load /vmlinuz kernel on boot
Documentation=https://github.com/BobVul/Scaleway-Custom-Kernel-Launcher
ConditionKernelCommandLine=!scalewaycustomkernel

[Service]
Type=oneshot
ExecStart=/bin/systemctl kexec

[Install]
WantedBy=default.target
